body {
    background-color:#e5e5e5;
    font-size:14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

* {
    padding: 0px;
    margin: 0px;
}

#liste table {
    background-color: #cbeded;
    width: 100%;
}

#liste table tr {
    height: 25px;
    line-height: 25px;
}

#liste table tr:nth-child(even) {
    background-color:azure;
}

#liste table tr:nth-child(odd) {
    background-color:#ebf6ce;
}

#liste table tr:first-child {
    background-color: #bbdbf2;
}

#liste table tr:hover:not(:first-child) {
    background-color: #aadbfe;
    cursor:pointer;
}

a {
    text-decoration:none;
    color:#ff0505;
}


#arama {
    height:30px;
    line-height:30px;
    background-color:#d7d7d7;
    margin-bottom:5px;
}

#menu {
    height: 30px;
    line-height: 30px;
    background-color: #d7d7d7;
}

.lnkbutton {
    background-color: #d7d7d7;
    border: 1px solid #a8a8a8;
    vertical-align:top;
    height:20px;
    padding:2px 10px 2px 10px;
}

.lnkbutton a {
    color: black;
}

.button {
    background-color: #d7d7d7;
    border: 1px solid #a8a8a8;
    height: 22px;
    width:60px;
}

#banner {
    text-align:center;
    font-size:30px;
    font-weight:bold;
    background-color:#108fe9;
    color:white;
    height:50px;
    line-height:50px;
}

.urunresim {
    height:50px;
    width:50px;
}

#hatalar {
    background-color:white;
    color:red;
    border:1px solid red;
}